In [50]:
# https://www.w3schools.com/python/python_exercises.asp

In [1]:
x = 'awesome'
def myfunc():
    global x
    x = 'fantastic'
myfunc()

In [2]:
myfunc()

In [3]:
print(myfunc)

<function myfunc at 0x0000023C9C331DA0>

In [4]:
print('Python is ' + x )

Python is fantastic

In [5]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [6]:
x = True
print(type(x))

<class 'bool'>

In [7]:
x = 'Welcome'
print(x[3])

c

In [10]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [11]:
txt = txt.replace("H", "J")
print(txt)

 Jello World

In [14]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

In [15]:
print(f'The price is {2+3} dollars')

The price is 5 dollars

In [16]:
print(5>3)

True

In [18]:
print(bool("abc"))

True

In [19]:
print(bool(0))

False

In [20]:
x =5
x += 3
print(x)

8

In [21]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])

mango

In [25]:
mylist = ['apple', 'banana', 'cherry']
i = 0
while i < len(mylist):
    print(mylist[i])
    i = i + 1

apple
banana
cherry

In [27]:
for x in ['apple', 'banana', 'cherry']:
    print(x)

apple
banana
cherry

In [28]:
[print(x) for x in ['apple', 'banana', 'cherry']]

apple
banana
cherry

[None, None, None]

In [29]:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if x == 'banana']
newlist

['banana']

In [30]:
newlist2 = ['apple' for x in fruits]
newlist2

['apple', 'apple', 'apple']

In [31]:
fruits.sort(reverse = True)
fruits

['cherry', 'banana', 'apple']

In [ ]:
# copy a list
list2 = list1.copy()
list2 = list(list1)
list2 = list1[:]

In [ ]:
# adding elements from list2 into list1
list1.extend(list2)

In [1]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [2]:
(x, *y) = fruits
print(y)

['banana', 'cherry']

In [7]:
mytuple = ('apple', 'banana', 'cherry')
i = 0
while i < len(mytuple):
    print(mytuple[i])
    i = i + 1

apple
banana
cherry

In [8]:
for i in range(len(mytuple)):
    print(mytuple[i])

apple
banana
cherry

In [9]:
tuple1 = (1,2,3)
tuple1 = tuple1 * 2
tuple1

(1, 2, 3, 1, 2, 3)

In [10]:
# sets
thisset = {'apple', 'banana', 'cherry'}
print('banana' not in thisset)

False

In [11]:
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [12]:
more_fruits = ["orange", "mango", "grapes"]
thisset.update(more_fruits)
thisset

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [13]:
thisset.remove('apple')
thisset

{'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [14]:
for x in thisset:
    print(x)

grapes
banana
mango
orange
cherry

In [15]:
# set3= set1.union(set2)
# set5 = set 1 | set 2 | set 3 | set 4

In [20]:
 car = {
  "brand" : "Ford",
  "model" : "Mustang",
  "year" : 1964
 }
print(car.get("model"))

Mustang

In [21]:
car['year'] = 2020
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [22]:
car.update({"brand" : "Tesla"})
car

{'brand': 'Tesla', 'model': 'Mustang', 'year': 2020}

In [25]:
car.update({"made" : "US"})
car

{'brand': 'Tesla', 'model': 'Mustang', 'year': 2020, 'made': 'US'}

In [26]:
# add new item to dic
car["price"] = "$1000"
car

{'brand': 'Tesla',
 'model': 'Mustang',
 'year': 2020,
 'made': 'US',
 'price': '$1000'}

In [29]:
car.pop('price')
car

{'brand': 'Tesla', 'model': 'Mustang', 'year': 2020, 'made': 'US'}

In [33]:
# empty the dict
car.clear()
car

{}

In [39]:
x = {
    'type' : 'fruit',
    'name' : 'apple'
}

for y in x.values():
    print(y)

fruit
apple

In [41]:
for y, z in x.items():
    print(y,z)

type fruit
name apple

In [42]:
for y in x.keys():
    print(y)

type
name

In [43]:
y = x.copy()
y

{'type': 'fruit', 'name': 'apple'}

In [44]:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}

print(customers['c2']['name'])

May

In [49]:
for x, obj in customers.items():
    print(x)

for y in obj:
    print(y + ':', obj[y])

c1
c2
name: May
age: 23

In [1]:
for x in range(3):
    print(x)

0
1
2

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [5]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

In [8]:
# the number of keyword arguments unknown
def my_function(**kids):
    print("His last name is " + kid["lname"])

In [11]:
# lambda
x = lambda a,b  : a = b
print(x(5,3))

SyntaxError: cannot assign to lambda (2003639374.py, line 2)

In [12]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [13]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

5

In [23]:
class Person:
    def __init__(self, fname):
        self.firstname = fname
    def printname(self):
        print(self.firstname)
class Student(Person):
    pass

x = Student("Mike")
x.printname()

Mike

In [ ]:
import mymodule
print(dir(mymodule)) #print all variables and function names

In [24]:
import datetime

In [28]:
x = datetime.datetime
print(x.now())

2024-09-01 22:46:02.980821

In [31]:
x = datetime.datetime.now()
print(x.strftime('%A'))

Sunday

In [33]:
print(x.strftime('%B'))

September

In [34]:
import datetime
x = datetime.datetime(2024, 8, 20)
print(x.strftime('%d'))

20

In [35]:
print(max(5, 10, 25))

25

In [36]:
print(pow(2, 3)) #power

8

In [37]:
import math
print(math.sqrt(9))

3.0

In [38]:
math.pi

3.141592653589793

In [39]:
# RegEx
import re
txt = 'The rain in Spain' 
x = re.findall('[a-c]', txt)
print(x)

['a', 'a']

In [40]:
x = re.search('a', txt)
print(x.start())

5

In [41]:
x = re.search('\s', txt)
print(x.start())

3

In [43]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [45]:
price = 59
txt = f"It is {'perfect' if price == 100 else 'ok'}"
print(txt)

It is ok

In [46]:
price = 1000
txt = f'The price is {price:,} dollars' 
print(txt)

The price is 1,000 dollars

In [ ]:
os.remove() # remove file
os.rmdir() # remove entire folder